<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.actit"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.actit.MainActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.actit.Main"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="com.actit.New_game"
            android:label="@string/title_activity_new_game" >
        </activity>
        <activity
            android:name="com.actit.Facebook_friends_new_game"
            android:label="@string/title_activity_facebook_friends_new_game" >
        </activity>
        <activity
            android:name="com.actit.Play_game"
            android:label="@string/title_activity_play_game" >
        </activity>
        <activity
            android:name="com.actit.Tap_to_act"
            android:label="@string/title_activity_tap_to_act" >
        </activity>
        <activity
            android:name="com.actit.Tap_to_guess"
            android:label="@string/title_activity_tap_to_guess" >
        </activity>
        <activity
            android:name="com.actit.Give_up"
            android:label="@string/title_activity_give_up" >
        </activity>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <activity android:name="com.facebook.LoginActivity"></activity>
    </application>

</manifest>
